@import url(reset.css);

body {
	background: #ccc;
	font-family: arial;
}

li { display: inline-block; }

nav {
	position: fixed;
	z-index: 2000;
	background: #ccc;
	height: 30px;
	width: 100%;
	box-shadow: 0px 2px 5px #888888;
}

	table {
		border-collapse: collapse;
		margin: 5px 5px 5px 5px;
	}

	table td {
		width: 150px;
		font-size: 12px;
		padding: 5px 2px 5px 2px;
	}

.bold { font-weight: bold; }
.cursive { font-style: italic; color: orange; }
.small { font-size: 9px; color: orange; }

/*
TOOLBAR
*/



.toolbar-list-left {float: left;}
.toolbar-list-right {float: right;}

.toolbar-item {
	background: inherit;
	border: none;
	height: 30px;
	cursor: pointer;
	padding: 0 5px;
}

.toolbar-item:hover { background: #a8a8a8; }
.toolbar-item a { font-size: 14px; color: black; text-decoration: none; }
.toolbar-item i { margin: 5px 0 0 7px; font-size: 20px; vertical-align: -1px; }
.alert { margin-right: 50px; }
.alert i { margin: 5px 0; }

ul.sub-menu-alert, ul.sub-menu-option {
	display: none;
	position: absolute;
	font-size: 13px;
	top: 30px;
	box-shadow: 0px 1px 5px #888888;
	border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	margin-left: -5px;
}

ul.sub-menu-alert {
	background: #ccc;
	width: 250px;
}

ul.sub-menu-option {
	background: #ccc;
	width: 200px;
}

ul .sub-menu-alert li { padding: 15px 10px 10px 10px; }
ul .sub-menu-option li { padding: 10px; }
ul .sub-menu-alert li, ul .sub-menu-option li { display: block; }
ul .sub-menu-alert li:hover, ul .sub-menu-option li:hover { background: #a8a8a8; }
ul .sub-menu-alert li:last-child, ul .sub-menu-option li:last-child { border-radius: 0 0 4px 4px; -moz-border-radius: 0 0 4px 4px; }
ul li:hover ul.sub-menu-alert, ul li:hover ul.sub-menu-option { 
	display: block;
	-webkit-animation: fadeInFromNone 0.2s; 
	-moz-animation: fadeInFromNone 0.2s; 
}

@-webkit-keyframes fadeInFromNone {
    0% { display:none; opacity: 0; }
    1% {display: inline; ; opacity: 0; }
    100% { display: inline; opacity: 1; }
}
@-moz-keyframes fadeInFromNone {
    0% { display:none; opacity: 0; }
    1% {display: inline; ; opacity: 0; }
    100% { display: inline; opacity: 1; }
}

/*
MAIN
*/

#container {
	z-index: 1;
	max-width: 1600px;
	max-height: auto;
}

#wrapper {
	margin: 0 auto 0 auto;
	background: white;
	width: 850px;
	height: auto;
}

#logo {
	padding: 80px 0 50px 0;
	text-align: center;
}

.content-block {
	margin: 0px 15px 20px 15px;
	border: solid 1px black;
}

	.content-block table {
		border-collapse: collapse;
		margin: 5px 5px 5px 5px;
	}

	.content-block table td {
		width: 150px;
		font-size: 12px;
		padding: 5px 2px 5px 2px;
	}


.screening-list {
	border-bottom: solid 0px black;
	border: solid 1px black;
	margin: 0px 15px 20px 15px;
}

#filter {
	text-align: right;
	background: #ccc;
	padding: 5px 0 5px 0;
	width: 100%;
}

	#filter input {
		margin-left: 20px;
		height: 25px;
		margin-right: 10px;
	}

	#filter select {
		font-size: 12px;
		border: solid 0px black; padding: 1px 1px 1px 1px;
	}

.table-header {
	background: #ccc;
}

.list { margin: 0 0 0 0; }
.list td { 
	border-bottom: 1px solid black;
	padding: 5px 0 5px 3px;
}

.list td:hover { background: #F8F8F8; }

#footer {
	height: auto;
	width: 100%;
	margin-top: 50px;
}

#footer img {
	width: 8%;
	padding-left: 20px;
}

#footer div {
	display: inline-block;
	float: right;
	margin-right: 20px;
	text-align: right;
}

#footer p {
	width: 100%;
	color: grey;
	font-size: 10px;
	text-align: center;
}

