@import url(reset.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600);
@import url(http://fonts.googleapis.com/css?family=Roboto:300);

body {
	background: #ccc;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}

nav {
	position: fixed;
	z-index: 2000;
	background: #ccc;
	height: 30px;
	width: 100%;
	box-shadow: 0px 2px 5px #a0a0a0;
}

a { color: orange; }
a:hover { text-decoration: underline; }
a:visited { color: #CC6633 }

input { font-family: 'Open Sans', sans-serif; }
table { border-collapse: collapse; }
table td, table th { font-size: 12px; padding: 5px 2px 5px 2px; }
table th { font-weight: bold; }
table img { vertical-align: -6px; }
label { font-size: 12px; font-family: 'Open Sans', sans-serif; }

.trlink { cursor: pointer; }
.bold { font-weight: bold; }
.cursive { font-style: italic; }
.big { font-size: 14px; }
small { font-size: 11px; color: orange; }
.comment { color: #999999; font-size: 13px; margin-top: 2px; }
.red { color: darkred; }
.red:visited { color: darkred;}
.loginred { color: darkred; position: absolute; margin-top: -25px;}
.errormessage { color: #990000; }
.errorinput { background: rgba(204, 0, 0, 0.2);border: 1px solid red; }
.download-link { color: #303030!important; }
.fa-empty { padding-left: 14px; color: #999; }
.ul-disc li { list-style: disc; }
.wideCell { width: 230px!important; }
.order-table {width: 100%;}
.order-table .trlink { cursor: pointer; }
#filterTable th select option:nth-child(1){ display: none; }
.input_hidden { position: absolute; left: -9999px; }
.controleul li {list-style: disc;}
.skip-filter, .no-skip-filter {width: 100%;}



/*
TOOLBAR
*/

.toolbar-wrapper {
	max-width: 850px;
	margin: auto;
}

.toolbar-list-left {float: left;}
.toolbar-list-right {float: right;}

.toolbar-list-right form {display: inline;}

.toolbar-item {
	font-family: 'Open Sans', sans-serif;
	background: inherit;
	display: inline-block;
	border: none;
	height: 30px;
	cursor: pointer;
	padding: 0 5px;
	font-size: 14px;
}
	.toolbar-item:hover { background: #a8a8a8; }
	.toolbar-item a {  color: black; text-decoration: none; }
	.toolbar-item i { margin: 5px 0 0 7px; font-size: 20px; vertical-align: -1px; }
	.toolbar-item ul li ul li a, .toolbar-item ul li ul li a { font-size: 12px; }
	.toolbar-item button[type='submit'] { background: none; border: none; margin:0; padding:0; font-size: 14px; font-family: 'Open Sans', sans-serif; }
	.toolbar-item button[type='submit']:hover { cursor: pointer; }
	.alert { margin-right: 58px; }
	.alert i { margin: 5px 0; }

ul.sub-menu-alert, ul.sub-menu-option {
	font-family: 'Open Sans', sans-serif;
	display: none;
	position: absolute;
	font-size: 12px;
	top: 30px;
	box-shadow: 0px 1px 5px #a0a0a0;
	border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	margin-left: -5px;
}

ul.sub-menu-alert { background: #ccc; width: 250px; }
ul.sub-menu-option { background: #ccc; width: 200px; }
	.sub-menu-option a, .sub-menu-option a { font-size: 12px; }
	ul .sub-menu-alert p { padding: 7px 10px; text-align: center; }
	ul .sub-menu-alert p:hover { cursor: default; }
	ul .sub-menu-alert li { padding: 15px 10px 10px 10px; }
	ul .sub-menu-option li { padding: 10px; }
	ul .sub-menu-alert li, ul .sub-menu-option li { display: block!important; }
	ul .sub-menu-alert li:hover, ul .sub-menu-option li:hover { background: #a8a8a8;}
	ul .sub-menu-alert li:last-child, ul .sub-menu-option li:last-child { border-radius: 0 0 4px 4px; -moz-border-radius: 0 0 4px 4px; }
	ul li:hover ul.sub-menu-alert, ul li:hover ul.sub-menu-option { 
		display: block;
		-webkit-animation: fadeInFromNone 0.2s; 
		-moz-animation: fadeInFromNone 0.2s;
	}

@-webkit-keyframes fadeInFromNone {
    0% { display:none; opacity: 0; }
    1% { display: inline; opacity: 0; }
    100% { display: inline; opacity: 1; }
}
@-moz-keyframes fadeInFromNone {
    0% { display:none; opacity: 0; }
    1% { display: inline; opacity: 0; }
    100% { display: inline; opacity: 1; }
}

#klant-temp-logout {
	font-size: 12px;
	color: #999;
	float: right;
	margin-right: 20px;
}

#breadcrumbs {	
	color: #999;
	font-size: 11px;
	padding-left: 15px;
	margin-bottom: 5px;
}
#breadcrumbs a { color: #999; }
#breadcrumbs .activepage { color: orange; }

/*
MAIN
*/
#login-wrap {
	width: 300px;
	margin: 50px auto 0 auto;
}

#login-block {
	/*border: solid 1px grey;*/
	box-shadow: 1px 1px 10px #666;
	background: white;	
	height: 355px;
	text-align: center;
	margin-bottom: 10px;
}	
	#login-block img { padding: 40px 0 50px 0; }
	#login-block form { text-align: left; margin: auto; clear: both; width: 70%; }
	#login-block form input { height: 30px; margin: auto; width: 100%;}
	#login-block input[type=text], #login-block input[type=password] {font-size: 14px; padding-left: 3px;}
	#login-block input[type=submit] { 
		border: 1px solid #bbb;
		background: #fff;
		border-radius: 2px;
		box-shadow: inset 0 0 1px 1px rgb(236,236,236);
		color: black; 
		width: 100px;
		clear: right;
		margin: 20px 0 0 110px;
		height: 35px;
	}
	#login-block input[type="submit"]:hover {
		border: 1px solid orange;
		background: #f8f8f8;
		cursor: pointer;
	}
	#login-block input.margin { margin-bottom: 10px; }
	.reset-password { font-size: 12px; color: orange; float: right; clear: right; }
	#login-link-ce { margin: auto; color: #888; font-size: 12px; }

#container {
	z-index: 1;
}

#wrapper {
	padding-bottom: 12px;
	margin: 0 auto 0 auto;
	background: #fff;
	max-width: 850px;
	height: auto;
	box-shadow: 0px 0px 15px #666;
}

#logo {
	padding: 80px 0 50px 0;
	text-align: center;
}

.content-block {
	margin: 0px 15px 20px 15px;
	padding: 10px 20px;
	border: solid 1px black;
	border-radius: 2px;
}
	.content-block table { border-collapse: collapse; }
	.content-block table td { font-size: 12px; padding: 5px 2px 5px 2px; }
	.content-block ul { padding: 5px 0 0 20px; }
	.content-block ul li { padding: 3px; }
	.content-block p { padding: 4px 0; }
	.content-head { color: #000; font-weight: bold; padding: 2px; }

.profiletable td { width: 160px; }
.rapporttable td { width: 300px; text-align: center; }
.rapporttable td img { padding-right: 5px; }

.settings-block { padding: 25px; }
	.settings-block p, .settings-block label { font-size: 13px; }
	.settings-block a { color: orange; font-size: 13px; }
	.settings-block h3 { padding-bottom: 10px; font-weight: bold; font-size: 14px;}

#settings-form #next, #settings-form #cancel {
	border: 1px solid #606060;
	background: #fff;
	border-radius: 2px;
	box-shadow: inset 0 0 1px 1px rgb(236,236,236);
	padding: 13px;
	width: 120px;
	font-size: 11px; 
	text-decoration: none; 
	color: black; 
}
#settings-form-buttonblock {height: 44px;}
#settings-form #next { /*margin: 0 0 0 715px;*/ float: right; margin-right: 15px; }
#settings-form a#next {width: 92px; text-align: center;}
#settings-form #cancel { /*margin: 0 0 0 590px;*/ position: relative; float: right; margin-right: 10px; }

#settings-btn { 
	border: 1px solid #606060;
	background: #fff;
	border-radius: 2px;
	box-shadow: inset 0 0 1px 1px rgb(236,236,236);
	padding: 9px;
	width: 120px;
}

#settings-form #next:hover, #settings-form #cancel:hover, #settings-btn:hover {
	border: 1px solid orange;
	cursor: pointer;
}
#settings-form #next:active, #settings-form #cancel:active, #settings-btn:active {
	background: #eee;
}

#settings-form input[type="text"],
#settings-form input[type="password"],
#settings-form input[type="date"],
#settings-table input[type="text"],
#settings-table input[type="password"],
#settings-table input[type="date"] {
	height: 30px;
	width: 240px;
	margin-top: 5px;
	line-height: 20px;
	padding-left: 5px;
	font-size: 13px;
}

#settings-table { margin-top: 15px; margin-bottom: 10px; }
	#settings-table td { padding-right: 15px; }

.screening-list {
	border-bottom: solid 0px black;
	border: solid 1px black;
	border-bottom: none;
	margin: 0px 15px 20px 15px;
}
	.screening-list td { border-bottom: 1px solid black; padding: 5px 0 5px 10px;}
	.screening-list th { padding: 0 0 3px 10px; }
	.screening-list tr:hover { background: #F0F0F0; }
	.screening-list .table-header:hover, .screening-list .table-header-filter:hover { background: #ddd; }

#filter {
	text-align: right;
	background: #ddd;
	padding: 5px 0 5px 0;
	width: 100%;
}
	#filter input {
		margin-left: 20px;
		height: 25px;
		margin-right: 10px;
	}
	#filter select {
		font-size: 12px;
		/*border: solid 0px black; padding: 1px 1px 1px 1px;*/
	}

.table-header { background: #ddd; border-bottom: 1px solid black; }
.table-header th, { min-width: 118px; } /* voorkomt verspringen dmv vanwege filter */
.table-header-filter { border-bottom: 0; background: #ddd;}

.download-btn { 
	border: 1px solid #606060;
	background: #33CC66;
	border-radius: 2px;
	box-shadow: inset 0 0 1px 1px rgb(236,236,236);
	padding: 9px;
	width: 120px;
}
.download-btn:hover { cursor: pointer; box-shadow: none; }
.download-btn:active { background: #aaa; }

#footer {
	width: 100%;
	margin-top: 35px;
}
	#footer img { width: 8%; padding-left: 20px; }
	#footer div {
		display: inline-block;
		float: right;
		margin-right: 20px;
		text-align: right;
	}
	#footer p {
		width: 100%;
		color: grey;
		font-size: 10px;
		text-align: center;
	}
	.double-table td { width: 200px; }
	.form-div { float: left; padding-right: 20px; width: 240px; }

#pakketform input[type='radio']:checked + label div{ background: #F8F8F8; border: 1px solid darkorange; box-shadow: 0px 0px 5px darkorange; }
#pakketform input[type='radio']:checked + label i { color: darkorange; }
.pakket-block { 
	position: relative; 
	height: 360px; 
	width: 180px; 
	border: 1px solid black; 
	margin: 10px 0px 15px 10px; 
	float: left; 
	text-align: left;  
	background: white;
	border-radius: 5px;
}
.pakket-block:hover { background: #F8F8F8; box-shadow: 3px 3px 5px #ddd;}
.pakket-block i { text-align: center; width: 100%; font-size: 40px; padding: 15px 0 15px 0; }
.pakket-block p { font-weight: bold; padding: 0 5px 0 5px; color:darkorange; text-align: center; }
.pakket-block table { margin: 5px 0 0 5px; }
.pakket-block li { padding-left: 1.2em; }
.pakket-block li:before {
	font-size: 14px;
  	content: '\f00c';
  	font-family: 'FontAwesome';
  	display: inline-block;
  	margin-left: -1.2em;
  	width: 1.2em;
}​

.pakket-block h2 {} /* Moet erin staan anders ingored die de class waarden */
.pakket-prijs {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	position: absolute;
	bottom: 0;
	text-align: center; 
 	font-size: 22px; 
	padding: 5px 0 10px 0; 
 	color: darkorange; 
	font-weight: bold; 
}

.clear-float { clear: both; }
.fa-download { margin-right: 5px; }
.color-reset { color: black; }

.pakket-block input[type=checkbox] { display:none; }
.pakket-block input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline;
  font-size: 14px;
}
.pakket-block label { width: 150px; }
.pakket-block input[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */
.pakket-block input[type=checkbox] + label:before { letter-spacing: 7px; } /* space between checkbox and label */
.pakket-block input[type=checkbox]:checked + label:before { content: "\f046"; } /* checked icon */
.pakket-block input[type=checkbox]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */

.pakket-link { background: white; color: black; }

.fa-question-circle {
	display: inline;
	vertical-align: top;
	font-size: 18px;
	padding-left: 20px;
	padding-right: 5px;
}

.grey { color: grey;}


ul.notification {
	font-family: 'Open Sans', sans-serif;
	display: none;
	position: absolute;
	font-size: 13px;
	box-shadow: 0px 1px 5px #888888;
}

ul.notification { z-index: 2; background: white; width: 245px; margin-top: 5px; }
	ul .notification li { padding: 10px 10px 10px 10px; }
	ul .notification li, ul .sub-menu-option li { display: block!important; }
	ul li:hover ul.notification { 
		display: block;
		-webkit-animation: fadeInFromNone 0.2s; 
		-moz-animation: fadeInFromNone 0.2s; 
	}

.help-item {
	position: absolute;
	font-family: 'Open Sans', sans-serif;
	background: inherit;
	display: inline-block;
	border: none;
	cursor: pointer;
	padding: 0 5px;
}

	.help-item a {  color: grey; font-size: 13px; color: black; text-decoration: none; }
	.help-item i { color:grey; margin: 5px 0 0 7px; font-size: 20px; vertical-align: bottom; }

.block {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 70%;
	display: block;
	float: left;
}

.pos1 { top: 238px; }
.pos3 { top: 225px; }

.block input[type=checkbox] { display:none; }
.block input[type=checkbox] + label:before {
	vertical-align: bottom;
 	font-family: FontAwesome;
	display: inline;
	font-size: 18px;
}
.block label { width: 150px; }
.block input[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */
.block input[type=checkbox] + label:before { letter-spacing: 8px; }
.block input[type=checkbox]:checked + label:before { content: "\f046"; } /* checked icon */
.block input[type=checkbox]:checked + label:before { letter-spacing: 5px; }

/*
DROPZONE
*/

.dropzone, .dropzoneIMG {
	clear: both;
	margin: 30px auto 30px auto;
	padding: 10px;
	max-width: 600px;
	min-height: 130px!important;
	text-align: center;
	box-shadow: inset 1px 1px 10px #aaa;
}
.dropzone:hover, .dropzoneIMG:hover { cursor: pointer; }

#iCountry {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	border: 1px solid #bababa;
	width: 515px;
	height: 30px;
	padding: 5px;
	border-radius: 5px;
}

.integriteit textarea {
	max-width: 100%;
	width: 100%; 
	height: 60px; 
	margin: 5px 0 5px 0;
	padding: 5px;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px; 
}

#vraagstelling {
	margin: 10px 0 10px 0;
	width: 99%;
	height: 60px;
	padding: 5px;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}

#optie { margin-right: 5px; }
#toelichting { margin-right: 5px; }

.label-margin {
	margin-left: 5px;
}

.integriteit-vraag {
	margin: 10px 0 10px 0;
}

.nostyle {
	border: none;
	background: none;
	color: orange;
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
}

.nostyle:hover {
	cursor: pointer;
	text-decoration: underline;
}

.upload-button {
	margin-bottom: 20px;
	margin-left: 90px;
	text-align: center;
	border: 1px solid #606060;
	background: #fff;
	border-radius: 2px;
	box-shadow: inset 0 0 1px 1px rgb(236,236,236);
	padding: 13px;
	width: 600px;
	font-size: 11px; 
	text-decoration: none; 
	color: black; 
}

.upload-button:hover {
	border: 1px solid orange;
	cursor: pointer;
}

.notify {
	padding: 5px 5px 5px 5px;
	font-size: 14px;
	max-width: 840px;
	color: white;
	font-family: 'Open Sans', sans-serif;
	top: 12px;
	height: 40px;
	width: 100%;
	position: relative;
	/*display: none;*/
}

	.friendly { background: darkgreen; }
	.bad { background: darkred; }

	.notify p {
		padding-top: 10px;
	}

/*
MEDIAQUERIES
*/

@media screen and (max-width: 816px) {
  .pos3 { top: 672px; }
}

@media screen and (min-width: 200px) and (max-width: 582px) {
  .pos3 { top: 690px; }
}